@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .backdrop-blur-md {
    backdrop-filter: blur(12px);
  }
}

<<<<<<< HEAD
/* Smooth page transitions */
=======
>>>>>>> 57a263e8ad3c3bc29308e3767c3878f1986c08bf
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
